<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add New Player to Dynasty</h3>
  </div>
  <div class="panel-body">
    <div>
      <div>
        <label>Player Name:</label>
        <br>
        <input #newName>
      </div>

      <div>
        <label>Player Position:</label>
        <br>
        <select>
          <option #newPosition>Infield</option>
          <option #newPosition>Outfield</option>
          <option #newPosition>Pitcher</option>
        </select>
      </div>

      <div>
        <label>Batting Average:</label>
        <br>
        <input #newBattingAverage>
      </div>

      <div>
        <label>Bio:</label>
        <br>
        <textarea #newBio></textarea>
      </div>

      <div>
        <label>Player Image:</label>
        <br>
        <input #newImage>
      </div>
      <br>



      <button (click)="submitForm(newName.value, newPosition.value, newBattingAverage.value, newBio.value, newImage.value); newName.value=''; newPosition.value=''; newBattingAverage.value=''; newBio.value=''; newImage.value=''">Add</button>
    </div>
  </div>
</div>

<div>
  <app-lineup></app-lineup>
</div>
