h3 {
  color: red;
}

.player {
  background-color: rgba(0, 0, 0, .8);
  text-align: center;
  border: 2px solid red;
  border-radius: 10px;
  color: red;
  font-size: 20px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}
